# Name: Astro Noémie
# Author: phm
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>CIRB>DeThe,"Liver Fibrosis",Liver_fibrosis_CD.Liver_fibrosis


